scripts/n8n-blog-generator.json
{
    "name": "Automated Blog Post Generator",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "weeks",
                            "triggerAtDay": [
                                1
                            ],
                            "triggerAtHour": 9
                        }
                    ]
                }
            },
            "id": "2b36a23e-937a-451f-9382-eb8e1d4689cf",
            "name": "Weekly Schedule",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -48,
                -48
            ]
        },
        {
            "parameters": {
                "jsCode": "const topics = [\n  'Top 10 SEO tips for small businesses in 2025',\n  'How to build a responsive website with modern CSS',\n  'Digital marketing trends every entrepreneur should know',\n  'Why mobile-first design is essential for your business',\n  'Social media marketing strategies that actually work',\n  'Content marketing best practices for B2B companies',\n  'How to improve website loading speed and performance',\n  'Email marketing automation tips for better engagement',\n  'The importance of local SEO for service businesses',\n  'Web accessibility guidelines every developer should follow'\n];\n\nconst randomIndex = Math.floor(Math.random() * topics.length);\nconst selectedTopic = topics[randomIndex];\n\nreturn [{ json: { topic: selectedTopic } }];"
            },
            "id": "c98b081b-868d-49f2-9ee0-15a7ef9b0b84",
            "name": "Select Random Topic",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                176,
                -48
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-2.5-flash",
                    "mode": "list",
                    "cachedResultName": "models/gemini-2.5-flash"
                },
                "messages": {
                    "values": [
                        {
                            "content": "=You are a professional blog writer for a digital agency. Write a comprehensive blog post about: {{ $json.topic }}\n\nReturn ONLY valid JSON (no markdown code blocks, no extra text) with this exact structure:\n{\n  \"title\": \"SEO-optimized title\",\n  \"description\": \"Meta description under 160 characters\",\n  \"content\": \"Full markdown content with ## headings, bullet points, and paragraphs. Use proper markdown formatting.\",\n  \"tags\": [\"tag1\", \"tag2\", \"tag3\"],\n  \"category\": \"Category name\",\n  \"image_prompt\": \"Detailed prompt for generating a featured image\"\n}\n\nIMPORTANT: Ensure all JSON string values have proper escaping. Do not include unescaped newlines inside string values - use \\n instead. The response must be valid parseable JSON."
                        }
                    ]
                },
                "options": {}
            },
            "id": "2c784cc2-dfc3-4bb2-a63c-160cc2ac8c5d",
            "name": "Message a model",
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1,
            "position": [
                400,
                -48
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "acyWBVtQH4BRp3YS",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Get the Gemini response\nconst response = $input.first().json;\n\n// Extract the text content from the response\nlet responseText = '';\n\nif (typeof response === 'string') {\n  responseText = response;\n} else if (response.text) {\n  responseText = response.text;\n} else if (response.content && response.content.parts && response.content.parts[0]) {\n  responseText = response.content.parts[0].text;\n} else if (response.candidates && response.candidates[0]) {\n  responseText = response.candidates[0].content.parts[0].text;\n} else {\n  // Try to find any text property\n  responseText = JSON.stringify(response);\n}\n\nconsole.log('Raw response type:', typeof response);\nconsole.log('Response keys:', Object.keys(response || {}));\nconsole.log('responseText length:', responseText.length);\n\n// Clean up the response - remove markdown code blocks if present\nlet cleanedText = responseText\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\n\nconsole.log('After markdown cleanup, length:', cleanedText.length);\n\n// CRITICAL: Escape control characters within JSON string values\n// This handles raw newlines, tabs, etc. that break JSON.parse()\nfunction escapeControlCharsInStrings(jsonStr) {\n  let result = '';\n  let inString = false;\n  let i = 0;\n  \n  while (i < jsonStr.length) {\n    const char = jsonStr[i];\n    const nextChar = jsonStr[i + 1];\n    \n    // Handle escaped characters (skip them)\n    if (char === '\\\\' && inString) {\n      result += char + (nextChar || '');\n      i += 2;\n      continue;\n    }\n    \n    // Toggle string state on unescaped quotes\n    if (char === '\"') {\n      inString = !inString;\n      result += char;\n      i++;\n      continue;\n    }\n    \n    // Handle control characters inside strings\n    if (inString) {\n      const charCode = char.charCodeAt(0);\n      if (charCode < 32) { // Control characters\n        switch (char) {\n          case '\\n': result += '\\\\n'; break;\n          case '\\r': result += '\\\\r'; break;\n          case '\\t': result += '\\\\t'; break;\n          case '\\b': result += '\\\\b'; break;\n          case '\\f': result += '\\\\f'; break;\n          default: result += ''; // Remove other control chars\n        }\n        i++;\n        continue;\n      }\n    }\n    \n    result += char;\n    i++;\n  }\n  \n  return result;\n}\n\n// Apply control character escaping\nlet sanitized = escapeControlCharsInStrings(cleanedText);\n\nconsole.log('After control char escaping, length:', sanitized.length);\n\n// Additional cleanup for common JSON issues\nsanitized = sanitized\n  .replace(/,\\s*}/g, '}')  // Remove trailing commas before }\n  .replace(/,\\s*]/g, ']')  // Remove trailing commas before ]\n  .replace(/[\\u2018\\u2019]/g, \"'\")  // Smart single quotes\n  .replace(/[\\u201C\\u201D]/g, '\"')  // Smart double quotes\n  .replace(/\\u0000/g, '');  // Null characters\n\nconsole.log('Final sanitized length:', sanitized.length);\nconsole.log('First 500 chars:', sanitized.substring(0, 500));\n\ntry {\n  const parsed = JSON.parse(sanitized);\n  console.log('JSON parsed successfully!');\n  console.log('Parsed keys:', Object.keys(parsed));\n  return [{ json: parsed }];\n} catch (parseError) {\n  console.log('JSON parse error:', parseError.message);\n  console.log('Error position context:', sanitized.substring(\n    Math.max(0, parseError.message.match(/position (\\d+)/)?.[1] - 50 || 0),\n    Math.min(sanitized.length, (parseError.message.match(/position (\\d+)/)?.[1] || 0) + 100)\n  ));\n  throw new Error(`JSON parse error: ${parseError.message}`);\n}"
            },
            "id": "eaa5eb31-4f59-44f1-8c14-c4378ec77537",
            "name": "Parse JSON Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                752,
                -48
            ]
        },
        {
            "parameters": {
                "resource": "image",
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-2.5-flash-image",
                    "mode": "list",
                    "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
                },
                "prompt": "={{ $json.image_prompt }}",
                "options": {}
            },
            "id": "a9c1d841-0ca8-48a1-a66d-c0c3091b0710",
            "name": "Generate an image",
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1,
            "position": [
                976,
                -48
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "acyWBVtQH4BRp3YS",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Get content from Parse JSON Response node\nconst contentData = $('Parse JSON Response').first().json;\n\n// Get image data from the previous node (Generate an image)\nconst imageData = $input.first().json;\n\nconsole.log('Content data keys:', Object.keys(contentData || {}));\nconsole.log('Image data keys:', Object.keys(imageData || {}));\n\n// Validate we have the required content\nif (!contentData || !contentData.title) {\n  throw new Error('Missing content data from Parse JSON Response. Keys: ' + Object.keys(contentData || {}));\n}\n\nconst { title, description, content, tags, category } = contentData;\n\n// Generate filename-safe slug from title\nconst slug = title\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '');\n\nconst date = new Date().toISOString().split('T')[0];\nconst imageName = `${slug}.png`;\n\n// Get image base64 - handle different response structures\nlet imageBase64 = '';\nif (imageData.data) {\n  imageBase64 = imageData.data;\n} else if (imageData.images && imageData.images[0]) {\n  imageBase64 = imageData.images[0].base64 || imageData.images[0];\n} else if (imageData.image) {\n  imageBase64 = imageData.image.base64 || imageData.image;\n} else if (typeof imageData === 'string') {\n  imageBase64 = imageData;\n}\n\nconsole.log('Image base64 length:', imageBase64?.length || 0);\n\n// Build frontmatter\nconst frontmatter = `---\ntitle: \"${title}\"\ndescription: \"${description}\"\npubDate: ${date}\nimage: ~/assets/images/posts/${imageName}\ncategory: ${category}\ntags:\n${tags.map(tag => `  - ${tag}`).join('\\n')}\n---\n\n`;\n\nconst markdown = frontmatter + content;\n\nreturn [{\n  json: {\n    markdown,\n    filename: `${slug}.md`,\n    imageName,\n    imageBase64,\n    slug,\n    title\n  }\n}];"
            },
            "id": "0f33f899-6a5d-4796-b5eb-8b0b30e3f06e",
            "name": "Format Markdown",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1200,
                -48
            ]
        },
        {
            "parameters": {
                "resource": "file",
                "owner": {
                    "__rl": true,
                    "value": "vimalhari",
                    "mode": "list",
                    "cachedResultName": "vimalhari"
                },
                "repository": {
                    "__rl": true,
                    "value": "astrowind",
                    "mode": "list",
                    "cachedResultName": "astrowind"
                },
                "filePath": "=src/content/post/{{ $('Format Markdown').item.json.filename }}",
                "fileContent": "={{ $('Format Markdown').item.json.markdown }}",
                "commitMessage": "=Add blog post: {{ $('Format Markdown').item.json.title }}"
            },
            "id": "f31ed936-cf49-40e3-8e29-2cf866e86895",
            "name": "Create Post in GitHub",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                1648,
                -48
            ],
            "webhookId": "35885562-79eb-420e-a894-30c99f11162d",
            "credentials": {
                "githubApi": {
                    "id": "r6kcmLaMW40HPlpe",
                    "name": "GitHub account"
                }
            }
        },
        {
            "parameters": {
                "resource": "file",
                "owner": {
                    "__rl": true,
                    "value": "vimalhari",
                    "mode": "list",
                    "cachedResultName": "vimalhari"
                },
                "repository": {
                    "__rl": true,
                    "value": "astrowind",
                    "mode": "list",
                    "cachedResultName": "astrowind"
                },
                "filePath": "=src/assets/images/posts/{{ $json.imageName }}",
                "fileContent": "={{ $json.imageBase64 }}",
                "commitMessage": "=Add image for: {{ $json.title }}"
            },
            "id": "94eb1dcb-e022-48e7-ad4b-1b97e74bdcc0",
            "name": "Upload Image to GitHub",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                1424,
                -48
            ],
            "webhookId": "243edf15-954b-41a6-90dc-fe588878e5fd",
            "credentials": {
                "githubApi": {
                    "id": "r6kcmLaMW40HPlpe",
                    "name": "GitHub account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.resend.com/emails",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"from\": \"blog@crizone.com\",\n  \"to\": \"info@crizone.com\",\n  \"subject\": \"New Blog Post Published: {{ $('Format Markdown').item.json.title }}\",\n  \"html\": \"<h1>New Blog Post Published!</h1><p>Title: {{ $('Format Markdown').item.json.title }}</p><p>The post has been automatically generated and committed to GitHub.</p>\"\n}",
                "options": {}
            },
            "id": "12ac19ca-27ad-4e2c-bfa4-3ed170ca1258",
            "name": "Send Success Email",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1872,
                -48
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "6lgZ0MQbXcDIuVZv",
                    "name": "Header Auth account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Weekly Schedule": {
            "main": [
                [
                    {
                        "node": "Select Random Topic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Select Random Topic": {
            "main": [
                [
                    {
                        "node": "Message a model",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Message a model": {
            "main": [
                [
                    {
                        "node": "Parse JSON Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse JSON Response": {
            "main": [
                [
                    {
                        "node": "Generate an image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate an image": {
            "main": [
                [
                    {
                        "node": "Format Markdown",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Markdown": {
            "main": [
                [
                    {
                        "node": "Upload Image to GitHub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload Image to GitHub": {
            "main": [
                [
                    {
                        "node": "Create Post in GitHub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Post in GitHub": {
            "main": [
                [
                    {
                        "node": "Send Success Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "56704525-e632-4717-8fab-811245cd62ac",
    "meta": {
        "instanceId": "5e3013812236ffc68673e049df10d814c2a1f810c4fc7568e02e05671f19b57a"
    },
    "id": "9TohKukWpXDajtNm",
    "tags": []
}