scripts/n8n-blog-generator.json
{
    "name": "Astrowind Blog Generator",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "weeks",
                            "triggerAtDay": [
                                1
                            ],
                            "triggerAtHour": 9
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Weekly Schedule",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                -1600,
                -200
            ]
        },
        {
            "parameters": {
                "jsCode": "const topics = [\n    'IT Infrastructure Management for Growing Businesses',\n    'Managed IT Services: Benefits and Best Practices',\n    'Cloud Migration Strategy: Step-by-Step Guide',\n    'Custom Software Development Process: Complete Guide',\n    'Astro Framework: The Future of Content-Focused Websites',\n    'Django REST Framework for API Development',\n    'Docker Containerisation Best Practices',\n    'PostgreSQL Advanced Query Optimisation',\n    'Web Performance Optimisation: Core Web Vitals',\n    'SEO Best Practices for Technical Websites'\n];\n\nconst randomTopic = topics[Math.floor(Math.random() * topics.length)];\n\nconst systemPrompt = \"You are an expert content marketing assistant for Criztec Technologies. Always respond with valid JSON only, no markdown code blocks or other formatting.\";\n\nconst userPrompt = `Write a professional, engaging blog post about \"${randomTopic}\" for Criztec Technologies.\n\nCompany Focus:\n- Web Development and Digital Marketing\n- IT Services and Infrastructure Management\n- Cloud Computing Solutions (AWS, Azure, Google Cloud)\n- Custom Software Development\n\nRequirements:\n- UNIQUE, specific, actionable insights (no generic advice).\n- UK Audience: British English spelling, UK regulations, £ GBP.\n- Output MUST be valid JSON with fields: title, excerpt, content (markdown), category, tags (array), image_prompt.\n- Respond ONLY with the JSON object, no other text.\n- Do NOT use apostrophes with backslash like \\\\' - just use regular apostrophe '\n\nContent Structure:\n- Engaging intro with unique hook.\n- 3-5 main sections with insights.\n- Real-world examples/case studies.\n- Natural integration of Criztec services.\n- Strong conclusion with CTA.\n- 800-1200 words.\n\nJSON Format:\n{\\n  \"title\": \"Post Title\",\\n  \"excerpt\": \"Brief summary\",\\n  \"content\": \"Full markdown content\",\\n  \"category\": \"Category Name\",\\n  \"tags\": [\"tag1\", \"tag2\"],\\n  \"image_prompt\": \"DALL-E prompt for hero image\"\\n}`;\n\nreturn {\n  json: {\n    systemPrompt: systemPrompt,\n    userPrompt: userPrompt,\n    topic: randomTopic\n  }\n};"
            },
            "id": "select-topic",
            "name": "Select Random Topic",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1376,
                -200
            ]
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gpt-4o",
                "prompt": {
                    "messages": [
                        {
                            "role": "system",
                            "content": "=={{ $json.systemPrompt }}"
                        },
                        {
                            "content": "=={{ $json.userPrompt }}"
                        }
                    ]
                },
                "options": {},
                "requestOptions": {}
            },
            "id": "openai-generator",
            "name": "OpenAI Generator",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                -1152,
                -200
            ],
            "credentials": {
                "openAiApi": {
                    "id": "MZU7ssO7dGn3JFC4",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const response = $input.first().json.message.content;\nlet contentData;\n\ntry {\n  contentData = JSON.parse(response);\n} catch (error) {\n  throw new Error('Failed to parse OpenAI response as JSON: ' + error.message);\n}\n\nconst required = ['title', 'excerpt', 'content', 'category', 'tags', 'image_prompt'];\nfor (const field of required) {\n  if (!contentData[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\nreturn { json: contentData };"
            },
            "id": "parse-json",
            "name": "Parse JSON Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -928,
                -200
            ]
        },
        {
            "parameters": {
                "resource": "image",
                "prompt": "=={{ $json.image_prompt }}",
                "model": "dall-e-3",
                "options": {},
                "requestOptions": {}
            },
            "id": "dalle-3",
            "name": "DALL-E 3",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                -704,
                -200
            ],
            "credentials": {
                "openAiApi": {
                    "id": "MZU7ssO7dGn3JFC4",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const contentData = $('Parse JSON Response').first().json;\nconst imageBinary = $('DALL-E 3').first().binary;\n\n// Sanitize for YAML - escape backslashes and quotes\nconst sanitizeForYaml = (str) => {\n    if (!str) return '';\n    return str\n        .replace(/\\\\/g, '')      // Remove backslashes\n        .replace(/\"/g, '\\\\\"')    // Escape double quotes\n        .replace(/'/g, \"'\");      // Normalize apostrophes\n};\n\n// Slugify title\nconst slug = contentData.title\n    .toString()\n    .toLowerCase()\n    .trim()\n    .replace(/\\s+/g, '-')\n    .replace(/[^\\w-]+/g, '')\n    .replace(/--+/g, '-')\n    .replace(/^-+|-+$/g, '');\n\nconst date = new Date().toISOString();\nconst imagePath = `~/assets/images/posts/${slug}.png`;\nconst imageGitPath = `src/assets/images/posts/${slug}.png`;\nconst postGitPath = `src/data/post/${slug}.md`;\n\nconst safeTitle = sanitizeForYaml(contentData.title);\nconst safeExcerpt = sanitizeForYaml(contentData.excerpt);\n\nconst fileContent = `---\npublishDate: ${date}\ntitle: \"${safeTitle}\"\nexcerpt: \"${safeExcerpt}\"\nimage: ${imagePath}\ncategory: ${contentData.category}\ntags:\n${contentData.tags.map(tag => `  - ${tag}`).join('\\n')}\nmetadata:\n  canonical: https://criztec.com/${slug}\n---\n\n${contentData.content}\n`;\n\nconst output = { \n    json: { \n        fileContent, \n        slug, \n        title: contentData.title, \n        url: `https://criztec.com/${slug}`,\n        imageGitPath,\n        postGitPath\n    }\n};\n\nif (imageBinary) {\n    output.binary = imageBinary;\n}\n\nreturn output;"
            },
            "id": "format-markdown",
            "name": "Format Markdown",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -480,
                -200
            ]
        },
        {
            "parameters": {
                "resource": "file",
                "owner": "vimalhari",
                "repository": "astrowind",
                "filePath": "={{ $json.imageGitPath }}",
                "binaryData": true,
                "commitMessage": "={{ '[skip ci] assets: add image for ' + $json.title }}"
            },
            "id": "upload-image",
            "name": "Upload Image to GitHub",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                -256,
                -200
            ],
            "credentials": {
                "githubApi": {
                    "id": "r6kcmLaMW40HPlpe",
                    "name": "GitHub account"
                }
            }
        },
        {
            "parameters": {
                "resource": "file",
                "owner": "vimalhari",
                "repository": "astrowind",
                "filePath": "={{ $('Format Markdown').first().json.postGitPath }}",
                "fileContent": "={{ $('Format Markdown').first().json.fileContent }}",
                "commitMessage": "={{ 'content: add blog post - ' + $('Format Markdown').first().json.title }}"
            },
            "id": "create-post",
            "name": "Create Post in GitHub",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                -32,
                -200
            ],
            "credentials": {
                "githubApi": {
                    "id": "r6kcmLaMW40HPlpe",
                    "name": "GitHub account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.resend.com/emails",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "keypair",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "from",
                            "value": "Criztec Blog <noreply@criztec.com>"
                        },
                        {
                            "name": "to",
                            "value": "={{ ['info@crizone.com'] }}"
                        },
                        {
                            "name": "subject",
                            "value": "=Blog Post Published: {{ $('Format Markdown').first().json.title }}"
                        },
                        {
                            "name": "html",
                            "value": "=<h2>Post Successfully Published!</h2><p><strong>Title:</strong> {{ $('Format Markdown').first().json.title }}</p><p><strong>URL:</strong> <a href='{{ $('Format Markdown').first().json.url }}'>{{ $('Format Markdown').first().json.url }}</a></p><p>The post has been published to your website.</p>"
                        }
                    ]
                },
                "options": {}
            },
            "id": "send-email",
            "name": "Send Success Email",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                192,
                -200
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "6lgZ0MQbXcDIuVZv",
                    "name": "Header Auth account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Weekly Schedule": {
            "main": [
                [
                    {
                        "node": "Select Random Topic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Select Random Topic": {
            "main": [
                [
                    {
                        "node": "OpenAI Generator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Generator": {
            "main": [
                [
                    {
                        "node": "Parse JSON Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse JSON Response": {
            "main": [
                [
                    {
                        "node": "DALL-E 3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DALL-E 3": {
            "main": [
                [
                    {
                        "node": "Format Markdown",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Markdown": {
            "main": [
                [
                    {
                        "node": "Upload Image to GitHub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload Image to GitHub": {
            "main": [
                [
                    {
                        "node": "Create Post in GitHub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Post in GitHub": {
            "main": [
                [
                    {
                        "node": "Send Success Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "timezone": "Europe/London",
        "callerPolicy": "workflowsFromSameOwner"
    },
    "id": "astrowind-blog-generator",
    "tags": []
}