scripts/n8n-blog-generator.json
{
    "name": "Astrowind Blog Generator (FIXED)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "weeks",
                            "triggerAtDay": [
                                1
                            ],
                            "triggerAtHour": 9
                        }
                    ]
                }
            },
            "id": "279ed107-d5fb-4a4b-84ab-59acc1d43b83",
            "name": "Weekly Schedule",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                -1696,
                -256
            ]
        },
        {
            "parameters": {
                "jsCode": "const topics = [\n    'IT Infrastructure Management for Growing Businesses',\n    'Managed IT Services: Benefits and Best Practices',\n    'Cloud Migration Strategy: Step-by-Step Guide',\n    'Custom Software Development Process: Complete Guide',\n    'Astro Framework: The Future of Content-Focused Websites',\n    'Django REST Framework for API Development',\n    'Docker Containerisation Best Practices',\n    'PostgreSQL Advanced Query Optimisation',\n    'Web Performance Optimisation: Core Web Vitals',\n    'SEO Best Practices for Technical Websites'\n];\n\nconst randomTopic = topics[Math.floor(Math.random() * topics.length)];\n\nconst systemPrompt = \"You are an expert content marketing assistant for Criztec Technologies. Always respond with valid JSON only, no markdown code blocks or other formatting.\";\n\nconst userPrompt = `Write a professional, engaging blog post about \"${randomTopic}\" for Criztec Technologies.\n\nCompany Focus:\n- Web Development and Digital Marketing\n- IT Services and Infrastructure Management\n- Cloud Computing Solutions (AWS, Azure, Google Cloud)\n- Custom Software Development\n\nRequirements:\n- UNIQUE, specific, actionable insights (no generic advice).\n- UK Audience: British English spelling, UK regulations, £ GBP.\n- Output MUST be valid JSON with fields: title, excerpt, content (markdown), category, tags (array), image_prompt.\n- Respond ONLY with the JSON object, no other text.\n\nContent Structure:\n- Engaging intro with unique hook.\n- 3-5 main sections with insights.\n- Real-world examples/case studies.\n- Natural integration of Criztec services.\n- Strong conclusion with CTA.\n- 800-1200 words.\n\nJSON Format:\n{\n  \"title\": \"Post Title\",\n  \"excerpt\": \"Brief summary\",\n  \"content\": \"Full markdown content\",\n  \"category\": \"Category Name\",\n  \"tags\": [\"tag1\", \"tag2\"],\n  \"image_prompt\": \"DALL-E prompt for hero image\"\n}`;\n\nreturn {\n  json: {\n    systemPrompt: systemPrompt,\n    userPrompt: userPrompt,\n    topic: randomTopic\n  }\n};"
            },
            "id": "de80d778-249c-45bb-be4f-fa0bf1756196",
            "name": "Select Random Topic",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1472,
                -256
            ]
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gpt-4o",
                "prompt": {
                    "messages": [
                        {
                            "role": "system",
                            "content": "=={{ $json.systemPrompt }}"
                        },
                        {
                            "content": "=={{ $json.userPrompt }}"
                        }
                    ]
                },
                "options": {},
                "requestOptions": {}
            },
            "id": "d073f750-4672-4467-bdb6-b332bd01ee78",
            "name": "OpenAI Generator",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                -1248,
                -256
            ],
            "credentials": {
                "openAiApi": {
                    "id": "MZU7ssO7dGn3JFC4",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse the JSON response from OpenAI\nconst response = $input.first().json.message.content;\nlet contentData;\n\ntry {\n  contentData = JSON.parse(response);\n} catch (error) {\n  throw new Error('Failed to parse OpenAI response as JSON: ' + error.message);\n}\n\n// Validate required fields\nconst required = ['title', 'excerpt', 'content', 'category', 'tags', 'image_prompt'];\nfor (const field of required) {\n  if (!contentData[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\nreturn { json: contentData };"
            },
            "id": "03e8bc5c-7b8c-4401-84a9-c4d4af8f8675",
            "name": "Parse JSON Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1024,
                -256
            ]
        },
        {
            "parameters": {
                "resource": "image",
                "prompt": "=={{ $json.image_prompt }}",
                "model": "dall-e-3",
                "options": {},
                "requestOptions": {}
            },
            "id": "a2a4b0ae-cd1c-4486-89ad-60e26d5680ea",
            "name": "DALL-E 3",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                -800,
                -256
            ],
            "credentials": {
                "openAiApi": {
                    "id": "MZU7ssO7dGn3JFC4",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Get content data from Parse JSON Response node\nconst contentData = $('Parse JSON Response').first().json;\n// Get binary data from DALL-E 3 node (it returns image as binary)\nconst imageBinary = $('DALL-E 3').first().binary;\n\n// Helper function to sanitize strings for YAML double-quoted values\n// Escapes backslashes first, then double quotes\nconst sanitizeForYaml = (str) => {\n    if (!str) return '';\n    return str\n        .replace(/\\\\/g, '\\\\\\\\')  // Escape backslashes first\n        .replace(/\"/g, '\\\\\"')    // Then escape double quotes\n        .replace(/'/g, \"'\");       // Replace smart quotes with regular\n};\n\n// Slugify title\nconst slug = contentData.title\n    .toString()\n    .toLowerCase()\n    .trim()\n    .replace(/\\s+/g, '-')\n    .replace(/[^\\w-]+/g, '')\n    .replace(/--+/g, '-')\n    .replace(/^-+|-+$/g, '');\n\nconst date = new Date().toISOString();\nconst imagePath = `~/assets/images/posts/${slug}.png`;\nconst imageGitPath = `src/assets/images/posts/${slug}.png`;\n\n// Sanitize title and excerpt for YAML\nconst safeTitle = sanitizeForYaml(contentData.title);\nconst safeExcerpt = sanitizeForYaml(contentData.excerpt);\n\n// Construct Markdown with Astro image path\nconst fileContent = `---\npublishDate: ${date}\ntitle: \"${safeTitle}\"\nexcerpt: \"${safeExcerpt}\"\nimage: ${imagePath}\ncategory: ${contentData.category}\ntags:\n${contentData.tags.map(tag => `  - ${tag}`).join('\\n')}\nmetadata:\n  canonical: https://criztec.com/${slug}\n---\n\n${contentData.content}\n`;\n\n// Pass through binary data and add JSON data\nconst output = { \n    json: { \n        fileContent, \n        slug, \n        title: contentData.title, \n        excerpt: contentData.excerpt,\n        content: contentData.content,\n        category: contentData.category,\n        tags: contentData.tags,\n        url: `https://criztec.com/${slug}`,\n        imageGitPath\n    }\n};\n\n// Copy binary data if it exists\nif (imageBinary) {\n    output.binary = imageBinary;\n}\n\nreturn output;"
            },
            "id": "8e049ba0-3c78-4183-bd37-0ec63261c821",
            "name": "Format Markdown",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -576,
                -256
            ]
        },
        {
            "parameters": {
                "resource": "file",
                "owner": "vimalhari",
                "repository": "astrowind",
                "filePath": "={{ $json.imageGitPath }}",
                "binaryData": true,
                "commitMessage": "={{ 'assets: add image for ' + $json.title }}"
            },
            "id": "d2dab126-79d4-4549-9c9f-90435775e220",
            "name": "Upload Image to GitHub",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                -352,
                -352
            ],
            "webhookId": "0cdb055a-ae7e-45fe-8392-e8e8a95bbb4a",
            "credentials": {
                "githubApi": {
                    "id": "r6kcmLaMW40HPlpe",
                    "name": "GitHub account"
                }
            }
        },
        {
            "parameters": {
                "resource": "file",
                "owner": "vimalhari",
                "repository": "astrowind",
                "filePath": "={{ 'src/data/post/' + $('Format Markdown').first().json.slug + '.md' }}",
                "fileContent": "={{ $('Format Markdown').first().json.fileContent }}",
                "commitMessage": "={{ 'content: auto-generate post about ' + $('Format Markdown').first().json.title }}"
            },
            "id": "08a360a0-4335-4e53-af61-500e0e176c0c",
            "name": "Create Post in GitHub",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                -352,
                -160
            ],
            "webhookId": "77220ecf-042a-4a0f-beb4-2cf4b2708a45",
            "credentials": {
                "githubApi": {
                    "id": "r6kcmLaMW40HPlpe",
                    "name": "GitHub account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.resend.com/emails",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "from",
                            "value": "Criztec Blog <noreply@crizone.com>"
                        },
                        {
                            "name": "to",
                            "value": "={{ ['info@crizone.com'] }}"
                        },
                        {
                            "name": "subject",
                            "value": "=Blog Post Published: {{ $('Format Markdown').first().json.title }}"
                        },
                        {
                            "name": "html",
                            "value": "=<h2>Post Successfully Published!</h2><p><strong>Title:</strong> {{ $('Format Markdown').first().json.title }}</p><p><strong>URL:</strong> <a href='{{ $('Format Markdown').first().json.url }}'>{{ $('Format Markdown').first().json.url }}</a></p><p>The post has been published to your website.</p>"
                        }
                    ]
                },
                "options": {}
            },
            "id": "d8538c0f-fe55-43ef-ae29-4f7b4eed00b7",
            "name": "Send Success Email",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                32,
                -224
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "6lgZ0MQbXcDIuVZv",
                    "name": "Header Auth account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Weekly Schedule": {
            "main": [
                [
                    {
                        "node": "Select Random Topic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Select Random Topic": {
            "main": [
                [
                    {
                        "node": "OpenAI Generator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Generator": {
            "main": [
                [
                    {
                        "node": "Parse JSON Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse JSON Response": {
            "main": [
                [
                    {
                        "node": "DALL-E 3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DALL-E 3": {
            "main": [
                [
                    {
                        "node": "Format Markdown",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Markdown": {
            "main": [
                [
                    {
                        "node": "Upload Image to GitHub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload Image to GitHub": {
            "main": [
                [
                    {
                        "node": "Create Post in GitHub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Post in GitHub": {
            "main": [
                [
                    {
                        "node": "Send Success Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "timezone": "Etc/GMT",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "versionId": "c57cb034-bd81-4547-9989-d7f5c6d029a5",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "5e3013812236ffc68673e049df10d814c2a1f810c4fc7568e02e05671f19b57a"
    },
    "id": "S9JEVe21J66JD6R2",
    "tags": []
}